<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Scripts/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Scripts/app/css/main.css" />
    <title>Skeleton</title>
</head>
<body class="app">
   
    
    
    <div class="container">
        <div class="row menu">
            <div class="col-sm-6">
                <a href="/home">Home</a> &nbsp; | &nbsp; <a href="/about">About</a> &nbsp; | &nbsp; <a href="/stack">Stack</a>
            </div>
        </div>

        <div class="row" >
            <div id="target" class="col-sm-12"></div>
        </div>
    </div>
    

    <script type="text/javascript" src="~/Scripts/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bower_components/page/page.js" ></script>
     <script type="text/javascript" src="~/Scripts/bower_components/ractive/ractive.js" ></script>
    <script type="text/javascript" src="~/Scripts/bower_components/mustache/mustache.js" ></script>
    <script type="text/javascript" src="~/Scripts/bower_components/reqwest/src/reqwest.js" ></script>
    <script type="text/javascript" src="~/Scripts/bower_components/swiftclick/js/libs/swiftclick.js" ></script>
    <script type="text/javascript" src="/Scripts/app/factories/app-api.js"></script>
    <script type="text/javascript" src="/Scripts/app/models/home-model.js"></script>
    <script type="text/javascript" src="/Scripts/app/models/about-model.js"></script>
    <script type="text/javascript" src="/Scripts/app/models/stack-model.js"></script>
    <script type="text/javascript" src="/Scripts/app/models/404-model.js"></script>
      
    <script type="text/javascript" src="/Scripts/app/app.js"></script>
    
   
   
    
</body>
</html>
